<nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
  <a class="navbar-brand" *ngIf="!isLogged" [routerLink]="['/login']">Accueil</a>
  <a class="navbar-brand" *ngIf="isLogged" [routerLink]="['/']">Accueil</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link text-light" *ngIf="isEmetteur" [routerLink]="['/emetteur']">Donner votre avis sur un hotel</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" *ngIf="isGerant" [routerLink]="['/gerant']">Analyser hotels</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" *ngIf="isAdmin" [routerLink]="['/admin']">Administration</a>
      </li>

     </ul>
     <div style="margin-right: 5px">
        <button  *ngIf="!isLogged" class="btn btn-secondary" [routerLink]="['/subscription']">Inscription</button>
      </div>
      <div>
        <button  *ngIf="!isLogged" class="btn btn-secondary" [routerLink]="['/login']">Connexion</button>
      </div>
    <div *ngIf="isLogged">
      <button style="margin-right: 5px" class="btn btn-primary" [routerLink]="['/']">{{nom}} {{prenom}}</button>
      <button  class="btn btn-secondary" (click)="logOut()" [routerLink]="['/']">Logout</button>
    </div>
  </div>
</nav>