<div style="text-align:center">
	<br />
		<h3>Emetteur {{nom}} {{nom}}</h3>Donnez nous votre avis !
	<br />
</div>
<br>
<div *ngIf="saisie_incorrecte" style="text-align:center">
  <p>
    <ngb-alert [dismissible]="false" type="danger">
      <strong>Erreur !</strong> Saisir tous les champs ! 
    </ngb-alert>
  </p>
</div>
<div *ngIf="saisie_ok" style="text-align:center">
  <p>
    <ngb-alert [dismissible]="false" type="success">
      <strong>Parfait !</strong> Commentaire ajouté ! 
    </ngb-alert>
  </p>
</div>

<div *ngIf="erreur_bdd" style="text-align:center">
  <p>
    <ngb-alert [dismissible]="false" type="success">
      <strong>Erreur</strong> Erreur lors de lajout dans la BDD. 
    </ngb-alert>
  </p>
</div>

<br><br>
<div class="form-row" style="text-align:center">
	<div class="form-group col-sm-4">
		
		<h5>Choisir Hôtel </h5>
		
		<select class="selectpicker" style="width:60%;width: 250px;"  [(ngModel)]="selected_hotel" >
			<option [ngValue]="undefined" disabled>Choisir un hôtel</option>
			<option *ngFor="let hotel of hotels" [value]="hotel.id_hotel">{{hotel.nom}}</option>
		</select>

	</div>

	<div class="form-group col-sm-2">
		<h5>Date début du séjour</h5>
		<input type="text" placeholder="aaaa-mm-dd" [(ngModel)]="la_date_choisi" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()"/>
	</div>

	<div class="form-group col-sm-2">
		<h5>Nombre de jour</h5>
		<input style=" width:70px;" [(ngModel)]="nb_jour" min=1 type="number">
	</div>

	<div class="form-group">
		<h5>Votre commentaire </h5>
		<textarea style="resize: none"  maxlength="200" [(ngModel)]="commentaire" cols="40" rows="4" placeholder="Votre commentaire."></textarea>
	</div>
</div>

<div style="text-align:center">
	<button  (click)="addCommentaire()" class="btn btn-info btn-sm col-sm-1">Envoyer !</button>
</div>
