<div class="form-row" >
	<h5 class="form-group col-7" style="text-align:right;margin-top: 50px;">Voir les commentaires d'un hôtel. </h5>		
	<div class="form-group col-11" style="text-align: center; margin-left: 55px;">
		<select class="selectpicker" style="width:60%;width: 250px;"  [(ngModel)]="selected_hotel" >
			<option [ngValue]="undefined" disabled>Choisir un hôtel</option>
			<option *ngFor="let hotel of hotels" [value]="hotel.id_hotel">{{hotel.nom}}</option>
		</select>
	</div>
</div>

<div *ngIf="liste_commentaire?.length == 0" style="text-align: center;">
	<h4>Pas de commentaire de cette hôtel pour l'instant</h4>
</div>

<div *ngIf="liste_commentaire?.length != 0" >
	<h4 style="text-align: center; margin-right: 25px;">Liste des commentaires </h4>
  <table class="table table-bordered " >
  	<thead class="thead-dark">
            <tr>
              <th scope="col">Nom</th>
              <th scope="col">Prenom</th>
              <th scope="col">Commentaire</th>
              <th scope="col">Supprimer</th>
            </tr>
        </thead>
        <ng-container *ngFor="let com of liste_commentaire">
            <tr class="table table-light table-bordered ">
              <td>{{com.uti[0].prenom}}</td>
              <td>{{com.uti[0].nom}}</td>
              <td>{{com.commentaire}}</td>
              <td><button  class="btn btn-danger btn-sm" (click)="supprimerCommentaire(com.id_com)">Supprimer</button></td>
            </tr>
        </ng-container>
    </table>
</div>
<div *ngIf="erreurSup" style="text-align:center">
  <p>
    <ngb-alert [dismissible]="false">
      <strong>Erreur !</strong> Problème lors de la suppression ! 
    </ngb-alert>
  </p>
</div>
